/* ---
  Main Stylesheet
  Este archivo actúa como el punto de entrada principal para todos los estilos de la aplicación.
--- */

/* --- Base --- */
@import './base/base.css';

/* --- Layout --- */
@import './layout/splitter.css';
@import './layout/statusbar.css';
@import './layout/sidebar.css';

/* --- Components --- */
@import './components/tabs.css';
@import './components/forms.css';
@import './components/menubar.css';
@import './components/dialogs.css';
@import './components/menus.css';
@import './components/terminal.css';
@import './components/color-selector.css';
@import './components/folder-dialog.css';
@import './components/animated-themes.css';
@import './components/password-manager-sidebar.css';
@import './components/ai-chat.css';
@import './components/anything-llm.css';
@import './components/ai-clients-tab.css';
@import './components/security-settings.css';
@import './components/general-settings.css';


/* --- Pages --- */
@import './pages/dashboard.css';
@import './pages/file-explorer.css';

